html {
  justify-content: center;
}

/* My colors aqua: 00ffb8 (0 255 184) blue: 009bff (0 155 255) purple: 6a8bff (106 139 255)
yellow: feff79 (254 255 121) pink: ff058c (255 5 141)
not-white: f5f6f7 +3not white: dfe3e6
not-black: 0e0e14 -0e0e2d(muy azul) -1not black: 19191e -2not-black: 2d2d2d -3not-black: 3c3c4b*/

  body {
    /* The perfec image coverage, so they say xD  but I wanted to start from the top*/
    /* background: url('./images/fondo_longSpace_mobile.png') no-repeat top center scroll; */
    /* background: url('https://drive.google.com/uc?export=view&id=1wioFDc2X1ccXvFgt-T48YxcWATYEbeTA') no-repeat top center scroll; */
    background-color: #0e0e14;
    /* -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: 100% cover; */
  }

  section {
    /* display: block; */
    justify-content: center;
    min-height: 50rem;
  }
  .block {
    margin: 0.5rem 1rem 0.5rem 1rem ;
    display: flex;
    flex-flow: wrap;
  }
  .container {
    display: flex;
    /* text-align: center; */
    flex-flow: column;
    justify-content: center;
    /* min-height: 8rem; */
    /* position: relative; */
    background-color: #19191e;
    align-items: center;
    /* width: auto; */
    /* height: auto; */
    margin: 2rem;
    /* padding-top: 1rem; */
  }
  .about {
    float: left;
    justify-content: center;
  }
  .text {
    font-family: sans-serif;
    text-align: center;
  }
  .whiteText {
    color: #f5f6f7;
  }
  .aqua:hover {
    background-color: #00ffb8;
  }
  .blue:hover {
    background-color: #009bff;
  }
  .purple:hover {
    background-color: #6a8bff;
  }
  .purple1:hover {
    background-color: #925EFF;
  }
  .purple2:hover {
    background-color: #5D56E8;
  }
  .purple3:hover {
    background-color: #569CE8;
  }
  .purple4:hover {
    background-color: #5ED6FF;
  }
  .pink:hover {
    background-color: #ff058c;
  }
  .pink1:hover {
    background-color: #FF2A42;
  }
  .pink2:hover {
    background-color: #EB0953;
  }
  .pink3:hover {
    background-color: #E807AE;
  }
  .pink4:hover {
    background-color: #FF08F3;
  }
  .yellow:hover {
    background-color: #feff79;
  }
  .bkText:hover {
    color: #19191e;
  }
  .project {
    display: flex;
    flex-flow: wrap;
    justify-content: space-around;
    height: auto;
    margin: 1rem;
  }
  h2 {
    font-size: 1.4rem;
  }
  h3 {
    font-size: 1rem;
  }
  .title {
    width: auto;
    /* height: 1.5rem; */
    weight: bold;
    padding: 1.5rem 1rem 1rem;
    margin: 0rem 0.5rem;
  }
  .paragraph {
    white-space: wrap;
    overflow: visible;
    text-overflow: ellipsis;
    word-wrap: normal;
    word-spacing: 0.1rem;
    width: 25rem;
    height: auto;
    padding: 0.5rem 1rem 1rem;
    margin: 0.5rem 1rem;
  }
  .list {
    width: 12rem;
    white-space: pre-line;
  }
  .headText {
    display: block;
    background-color: #19191e;
    /* justify-content: center; */
    padding: 1rem 0 1rem 0;
    position: absolute;
    top: 10%;
    right: 1%;
    -o-transform: translateY(-10%);
    -ms-transform: translateY(-10%);
    transform: translateY(-10%);
    text-transform: uppercase;
  }
  .footText {
    color: #dfe3e6;
    font-size: 0.8rem;
  }
  .coverImg {
    width: 100%;
  }
  .picture {
    display: flex;
    float: left;
    max-width: 20rem;
    max-height: 20rem;
    border-radius: 50%;
    background: url('https://drive.google.com/uc?export=view&id=1Q1F9SFNxoG6kj5SPsXuM8YpqG6PokuSk') no-repeat;
    background-size: 100%;
    margin: 1rem;
  }
  .picture:hover {
    background: url('https://drive.google.com/uc?export=view&id=1sz2uJ7PPj-2pbbkvel8A_toeuQ71FM-g') no-repeat;
    background-size: 100%;
    margin: 1rem;
  }

  .sampleImg {
    max-width: 15rem;
    height: auto;
  }
  .tetris {
    flex-flow: wrap;
    flex: 1 1 auto;
    max-width: 20rem;
  }
  svg {
  }
  footer {
    /* display: flex;
    justify-content: center; */
    display: grid;
    grid-template-columns: 30% 10% 10% 10% 10% 30%;
    grid-template-rows: 50% 10% 40%;
    height: 6rem;
    margin-bottom: 4rem;
  }
  .footLink {
    height: 150%;
    padding: 0;
    margin: 0.5rem;
    fill:#f5f6f7;
  }
  .footLink:hover {
    fill:#00ffb8;
  }
  #iconLinkedin {
    grid-area: 1/3/2/4;
  }
  #iconGithub {
    grid-area: 1/4/2/5;
  }
  #update{
    grid-area: 3/3/4/5;
    margin: 0;
    padding: 0.5rem 0 0 0;
  }
  #goUpBtn {
    display: none; /* Hidden by default */
    position: fixed; /* Fixed/sticky position */
    bottom: 2rem; /* Place the button at the bottom of the page */
    right: 2rem; /* Place the button 30px from the right */
    z-index: 99; /* Make sure it does not overlap */
    border: 0.4rem solid #ff058c;
    background-color: #19191e; /* Set a background color */
    color: #ff058c; /* Text color */
    cursor: pointer; /* Add a mouse pointer on hover */
    border-radius: .5rem; /* Rounded corners */
    /* font-size: 1.5rem; /* Increase font size */
    height: 6.5rem; /*optic square*/
    width: 6rem;
    align-items: flex-start;
    margin: 0rem;
    padding: 0.5rem;
  }
  .centerImg {
    width: 100%;
  }

  form {
    display: flex;
    flex-flow: column;
    position: relative;
    background-color: #19191e;
    align-items: center;
    max-width: 25rem;
    height: 26rem;
    padding: 2rem;
    margin: 3rem;
  }
  input {
    background: #3c3c4b;
    border: none;
    border-radius: 0.5rem;
    width: 20rem;
    height: 2rem;
    margin: 0.5rem;
    font-size: 1.3rem;
  }
  input[type=submit] {
    background: #ff058c;
    height: 3rem;
    width: 5rem;
    padding: auto;
    margin: 1rem;
  }
  textarea {
    background: #3c3c4b;
    border: none;
    border-radius: 0.5rem;
    margin: 0.5rem;
    width: 20rem;
    height: 8rem;
    font-size: 1rem;
  }

/* portrait tablet */
  @media screen and (min-width: 500px) {
    body {
      /* background: url('./images/fondo_longSpace_tablet.png') no-repeat top center scroll; */
      background-color: #0e0e14;
      -webkit-background-size: cover;
      -moz-background-size: cover;
      -o-background-size: cover;
      background-size: 100% cover;
    }
    h2 {
      font-size: 1.6rem;
    }
    h3 {
      font-size: 1.4rem;
    }
    .footText {
      font-size: 1.5rem;
    }

/* landscape tablet */
  @media screen and (min-width: 700px) {

    .headText {
      top: 20%;
      -ms-transform: translateY(-20%);
      transform: translateY(-20%);
    }
    .footText {
      font-size: 2rem;
    }

/* Big tablets and deskopt */
    @media screen and (min-width: 800px) {
    body {
      /* background: url('./images/fondo_longSpace.png') no-repeat top center scroll; */
      /* background: url('https://drive.google.com/uc?export=view&id=1wioFDc2X1ccXvFgt-T48YxcWATYEbeTA') no-repeat top center scroll; */
      background-color: #0e0e14;
      -webkit-background-size: cover;
      -moz-background-size: cover;
      -o-background-size: cover;
      background-size: 100% cover;
    }
    h2 {
      font-size: 2rem;
    }
    h3 {
      font-size: 1.6rem;
    }
    .headText {
      top: 50%;
      /* left: 50%; */
      -ms-transform: translateY(-50%);
      transform: translateY(-50%);
    }
    .footText {
      /* color: #dfe3e6; */
      font-size: 2.5rem;
    }
    footer {
      grid-template-columns: 30% 15% 5% 5% 15% 30%;
      grid-template-rows: 50% 10% 40%;
    }
    .footLink {
      height: 100%;
    }
    #update{
      margin: 0;
      padding: 0.5rem 0 0 0;
    }

    #goUpBtn {
      border-width: 0.2rem;
      height: 3.2rem; /*optic square*/
      width: 3rem;
      padding: 0.1rem;
    }
    .centerImg {
      width: 60%;
    }

    form {
      width: 30rem;
      height: 30rem;
      margin: 3rem;
    }
    input {
      width: 25rem;
      /* margin: 0.5rem; */
      font-size: 1.1rem;
    }
    input[type=submit] {
      height: 2.2rem;
      width: 4rem;
      margin: 1rem;
    }
    textarea {
      /* margin: 0.5rem; */
      width: 25rem;
      height: 12rem;
      /* font-size: 1rem; */
    }

  }
