html {
  box-sizing: border-box;
  display: flex;
  flex-flow: column;
  justify-content: center;
  /* margin-left: 2rem;
  margin-right: 2rem; */
  /* height: 100%; */

}

/* My colors aqua: 00ffb8 (0 255 184) blue: 009bff (0 155 255) purple: 6a8bff (106 139 255)
yellow: feff79 (254 255 121) pink: ff058c (255 5 141)
not-white: f5f6f7 +3not white: dfe3e6
not-black: 0e0e14 -0e0e2d(muy azul) -1not-black: 2d2d2d -2not-black: 3c3c4b*/

/* The perfec image coverage, so they say xD  but I wanted to start from the top*/
  body {
    background: url('./images/fondo_longSpace.png') no-repeat top center scroll;
    /* background: url('https://drive.google.com/uc?export=view&id=1wioFDc2X1ccXvFgt-T48YxcWATYEbeTA') no-repeat top center scroll; */
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: 100% cover;
    background-color: #0e0e14;
  }

/* This method requires the image linked directly into the HTML file. Con, it covers the text in the body element */
  /* .bkg { */
  /* Set rules to fill background */
  /* min-height: 100%;
  min-width: 1024px; */

  /* Set up proportionate scaling */
  /* width: 100%;
  height: auto; */

  /* Set up positioning */
  /* position: fixed;
  top: 0;
  left: 0;
  } */
  .about {
    display: block;
    justify-content: center;
  }
  .picture {
    display: inline-block;
    max-width: 20rem;
    max-height: 20rem;
    border-radius: 50%;
    background: url('https://drive.google.com/uc?export=view&id=16VON5YNSrvM-Zxnhi14q-NvR3aZ9ePpY') no-repeat;
    background-size: 100%;

  }
  .picture:hover {
    background: url('https://drive.google.com/uc?export=view&id=1nDNhYlN9obmPcuPjLLmPrJlFCAJV9SGo') no-repeat;
    background-size: 100%;
  }

  .sampleImg {
    max-width: 15rem;
    height: auto;
  }

  section {
    display: block;
    justify-content: center;
    min-height: 50rem;

  }
  .block {
    margin: 0.5rem 1rem 0.5rem 1rem ;
  }

  .container {
    display: flex;
    flex-flow: column;
    /* min-height: 8rem; */
    position: relative;
    background-color: #19191e;
    align-items: center;
    width: auto;
    height: auto;
    margin: 2rem;
    padding-top: 1rem;
  }

  .smallContainer {
  }

  .project {
    display: flex;
    flex-flow: wrap;
    justify-content: space-around;
    height: auto;
    margin: 1rem;
  }


  .title {
    width: auto;
    height: 3rem;
    font-size: 2rem;
    padding: 1rem;
  }

  .paragraph {
    width: 20vw;
    height: auto;
  }

  a {
    text-decoration: none;
    color: #f5f6f7;
  }

  a:hover {
    text-decoration: none;
    color: #00ffb8;
  }

  .text {
    font-family: sans-serif;
    text-align: center;
  }

  .whiteText {
    color: #f5f6f7;
  }

  h1 {
    font-size: 8em;
    margin-block-start: 0em;
    margin-block-end: 0em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
  }

  #goUpBtn {
    display: none; /* Hidden by default */
    position: fixed; /* Fixed/sticky position */
    bottom: 2rem; /* Place the button at the bottom of the page */
    right: 2rem; /* Place the button 30px from the right */
    z-index: 99; /* Make sure it does not overlap */
    border: none; /* Remove borders */
    outline: none; /* Remove outline */
    background-color: #6a8bff; /* Set a background color */
    color: white; /* Text color */
    cursor: pointer; /* Add a mouse pointer on hover */
    padding: 1rem; /* Some padding */
    border-radius: .5rem; /* Rounded corners */
    font-size: 1.5rem; /* Increase font size */
    height: 3.2rem; /*optic square*/
    width: 3rem;
  }


  .headText {
    display: block;
    justify-content: center;
    position: absolute;
    top: 50%;
    /* left: 50%; */
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    text-transform: uppercase;

  }
  .footText {
    color: #dfe3e6;
    font-size: 2rem;
  }

  .clipText {
    /* @include ctNoTextzone('background: url('./images/spaceW01.jpg') 'bkContainer'); */
  }
    /* if we can clip, do it */
    /* -webkit-text-fill-color: transparent;
    -webkit-background-clip: text; */
    /* -webkit-mix-blend-mode: multiply;
    -moz-mix-blend-mode: multiply;
    -o-mix-blend-mode: multiply; */

    /* what will show through the text
    ~ or ~
    what will be the background of that element */
    /* background: url('./images/spaceW01.jpg'); */

    /* fallback text color
    ~ or ~
    the actual color of text, so it better work on the background */
    /* color: #fff; */
  }

  /* .clipText {
    color: #fff;
  }
  .ctNoTextzone {} */

    /* Change the background position to display letter when the black zone isn't here */
  /* .ctNoTextzone:before {
    background-position: -.75em 0;
  }

  .ctNoTextzone:after {
    content: none;
  } */
  @media screen (orientation:portrait, max-width: 480px) {

  }
